body{
     margin:3%;
     font-size: 16px;
     color: #202020;
     line-height: 2;
     padding:5%;
     background-color: White;
}
/* .wp{
     background-image: url(../images/bg.png);
     background-size: cover;
}
 */
 a{
     color: #202020;
     font-family: 'Merriweather';
}
 a:link{
     text-decoration: none;
}
 a:hover, a:focus{
     color:#FFC371;
}
 a:active {
     font-weight: bold;
}
 a.current{
     color:#FF5F6D;
    /* font-family: 'Source Sans Pro';
     */
     font-weight: bolder;
     border:3px;
     text-decoration: line-through;
     border-color:black;
}
 .skip {
     position: absolute;
     top: -1000px;
     left: -1000px;
     height: 1px;
     width: 1px;
     text-align: left;
     overflow: hidden;
}
 a.skip:active, a.skip:focus, a.skip:hover {
     left: 0;
     top: 0;
     width: auto;
     height: auto;
     overflow: visible;
}
 .container{
     height: auto;
     grid-template-columns: repeat(autofill, minmax(20vw, 1fr));
}
 .sub{
     margin-bottom: 8%;
}
 h1{
     font-size: 250%;
     font-family: 'Source Sans Pro';
     margin-left: 10%;
     margin-right: 10%;
    /* font-weight: bold;
     */
}
 h2{
     font-size: 140%;
     font-family: 'Source Sans Pro';
     font-weight: lighter;
     margin-left: 10%;
     margin-right: 10%;
     color: gray;
     margin-top: -.7em;
}
 h3{
     font-size: 160%;
     font-family: 'Source Sans Pro';
     font-weight:900;
     margin-bottom: 5px;
     margin-top: 30px;
     margin-left: 10%;
     margin-right: 10%;
}
 h4{
     font-size: 130%;
     font-family: 'Source Sans Pro', bold;
     margin-top: 30px;
     margin-left: 10%;
     margin-right: 10%;
}
 h5{
     font-size: 120%;
     font-family: 'Source Sans Pro', bold;
     margin-top: 30px;
     margin-left: 10%;
     margin-right: 10%;
     color:#FF5F6D;
}
 .yellow h5{
     color: #FFC371;
}
 .purple h5{
     color: #8E32DD;
}
 .quotes{
     font-style: italic;
     color: gray;
     font-size: 120%;
}
 p{
     font-family: "Merriweather";
     font-size: 100%;
     margin-left: 10%;
     margin-right: 10%;
     margin-bottom: 3%;
}
 ul{
     font-family: "Merriweather";
}
 ol{
     font-family: "Merriweather";
     margin-left: 15%;
     margin-right: 15%;
     margin-bottom: 2%;
}
 ol li{
     margin-bottom: 1em;
}
 img {
     width: 100%;
     height: 100%;
}
 .desc-main{
     font-weight: bold;
     font-size: .5em;
     text-align: left;
     /* padding: 5%; */
     background: -webkit-linear-gradient(left, #FF5F6D 10%, #FFC371);
     -webkit-background-clip:text;
     -webkit-text-fill-color: transparent;
}
.desc-main p{
  font-size: 3em;
}
 .desc {
    /* font-size: 150%;
     */
     font-family: "Muli";
     font-weight: bold;
    /* text-align: center;
     */
    /* padding: 10%;
     */
     background: -webkit-linear-gradient(#FF5F6D, #FFC371);
     -webkit-background-clip:text;
     -webkit-text-fill-color: transparent;
    /* margin-left: -5%;
     */
}
 .shrink {
     width:80%;
     text-align: center;
     margin: auto;
     padding: .5em;
}
 .small {
     width:60%;
     text-align: center;
     margin: auto;
     padding: .5em;
}
 .desc a{
     font-size: .7em;
}
 .unicorn{
     text-align: center;
     margin: auto;
     padding: 10px;
}
 .unicorn video{
     top: 0;
     bottom: 0;
     width: 100%;
     height: auto;
    /* overflow: hidden;
     */
}
 .video{
     top: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
}
 .video video{
     width: 100%;
}
 .video2{
     top: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
}
 .video2 video{
     width: 100%;
}
 #color{
     width: 70%;
}
 .center{
     text-align: center;
     margin: auto;
     padding: 10px;
    /* font-size: 200%;
     */
}
 .button{
     font-weight: bolder;
     text-align: center;
     text-decoration: none;
     font-family: "Open Sans";
     color: black;
     padding: 5%;
}
 .box{
     box-sizing: border-box;
     margin-top: 20px;
}
 .button{
     background: -webkit-linear-gradient(right, #FF5F6D, #FFC371);
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 1em;
     cursor: pointer;
     border-radius: 100px;
     padding: .5rem 1.66667rem;
     margin: auto;
}
 .margin{
     margin-left: 13%;
     margin-right: 13%;
     margin-bottom: 3%;
}
 main{
     margin:auto;
     padding-bottom: 50px;
     min-height:100%;
     position: relative;
}
 footer{
     margin-top: 10%;
     text-align: center;
     color: silver;
     font-size: 80%;
}
 i{
     font-size: 1.5em;
     padding: 2%;
     color: silver;
}
 a i:focus, a i:hover{
     color:#FFC371;
}
 nav ul {
     font-size: 120%;
     font-family: "Merriweather";
     list-style-type: none;
     overflow: hidden;
     text-align: right;
     display: block;
}
 .projects a{
     display: block;
     color: #FF5F6D;
     font-size: 180%;
}
 .projects a:focus, .projects a:hover{
     color:#FFC371;
}
 .ca{
     width: 70%;
     height:auto;
     padding-bottom: 5%;
}
 .contact a{
     text-decoration: underline;
}
/* .parent {
     position: relative;
     top: 0;
     left: 0;
}
 .image1 {
     position: relative;
     width: 115%;
     top: -5px;
     left: -10px;
}
 .image2 {
     position: absolute;
     top: 0;
     left: 0;
}
 */
 .icon{
     width: 20%;
     padding: 5%;
}
 .row{
     display: grid;
     grid-template-columns: 2.5fr .5fr;
}
 .thirds p{
     font-family: "Merriweather";
}



 @media screen and (min-device-width:700px) and (min-width:700px) and (max-width:1000px){
     .scenario{
         display: grid;
         grid-template-columns: repeat(2, 1fr);
    }
     .projects a{
         display: inline;
         padding: 4%;
         font-size: 180%;
    }
     .personas{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
    }
     .graphs{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
         width: 80%;
         margin: auto;
         text-align: center;
    }
     .graphs div img{
         width: 80%;
    }
    nav ul {
        list-style-type: none;
        overflow: hidden;
   }
    .nav-left {
        float: left;
   }
    .nav-left ul li {
        float: left;
   }
    .nav-right ul li {
        float: right;
        text-align: right;
        width: 50%;
   }

    .thirds{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items:flex-start;
        margin-left: 5%;
        margin-right: 5%;
   }

    .thirds video{
        width: 100%;
        height: auto;
   }
     .thirds p{
         font-family: "Merriweather";
        /* font-size: 80%;
         */
    }
     .desc-main{
         font-weight: bold;
         font-size: 100%;
         text-align: left;
         padding: 5%;
         background: -webkit-linear-gradient(left, #FF5F6D 10%, #FFC371);
         -webkit-background-clip:text;
         -webkit-text-fill-color: transparent;
    }

}
 @media screen and (min-device-width:1000px) and (min-width:1000px){
     .unicorn video{
         top: 0;
         bottom: 0;
         width: 80%;
         height: auto;
        /* overflow: hidden;
         */
    }
     .scenario{
        /* margin-top: 5%;
         */
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         margin-left: 5%;
         margin-right: 5%;
    }
     .projects a{
         display: inline;
         padding: 2%;
         font-size: 180%;
    }
     .personas{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
         grid-gap: 5%;
    }
     .graphs{
         display:grid;
         grid-template-columns: repeat(2, 1fr);
    }
     .graphs div img{
         width: 80%;
         height: auto;
         padding: 10%;
    }
     .starlogo{
         width: 50%;
         height: auto;
    }
     .video2{
         display:grid;
         grid-template-columns:repeat(2, 1fr);
         grid-column-gap: 30px;
         width: 70%;
         padding-bottom: 5%;
         text-align: center;
         margin: auto;
    }
     .container {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         margin-left: 5%;
         margin-right: 5%;
        /* grid-row-gap: .3em;
        . */
    }
     .container div{
         padding: 3%;
    }
     .three{
         display: grid;
         grid-template-columns: repeat(3,1fr);
         margin-left: 7%;
         margin-right: 7%;
    }
    /* .four{
         display: grid;
         grid-template-columns: repeat(4,1fr);
         margin-left: 7%;
         margin-right: 7%;
    }
     */
    /* .container div:nth-child(odd) {
         padding-top: 10%;
    }
     */
    /* .container p{
         color: gray;
         font-family: "Source Sans Pro";
         margin-top: -.6em;
    }
     .container h2 a{
         font-family: "Muli";
         font-size: 80%;
    }
     */
     nav ul {
         list-style-type: none;
         overflow: hidden;
         font-family: "Merriweather";
    }
     .nav-left {
         float: left;
    }
     .nav-left ul li {
         float: left;
    }
     .nav-right ul li {
         float: right;
         width: 15%;
    }
     .thirds{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         align-items:flex-start;
         grid-column-gap: 5%;
    }
     .thirds video{
         width: 100%;
         height: auto;
    }
     .thirds p{
         font-family: "Merriweather";
        /* font-size: 80%;
         */
         margin-bottom: 2em;
        /* margin: 3em;
         */
    }
    .thirds > #uno{
      order:1
    }
    .thirds > #dos{
      order:3
    }
    .thirds > #tres{
      order:2
    }
     .right-aligned{
         text-align: right;
    }
     .left-aligned{
         text-align: left;
    }
     .desc-main{
         font-size: 100%;
         font-weight: bold;
         text-align: center;
         padding: 10%;
         background: -webkit-linear-gradient(left, #FF5F6D 10%, #FFC371);
         -webkit-background-clip:text;
         -webkit-text-fill-color: transparent;
    }
     .desc-main p{
         font-size: 300%;
         font-weight: bold;
    }
}
